.App {
  .Center {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.35fr;
    height: 100vh;
    background-color: rgba(2, 90, 141, 0.493);
    .Chat {
      border: 1px solid;
      margin: 0.5rem;
      border-radius: 10px;
      box-shadow: 0 0 5px black;
      background-color: rgb(2, 90, 141);
    }
    .VideoChat {
      border: 1px solid;
      margin: 0.5rem;
      border-radius: 10px;
      box-shadow: 0 0 5px black;
      padding: 0 20px;
      background-color: rgb(2, 90, 141);
      .StreamView {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        .noCall {
          position: absolute;
          height: 70vh;
          background-color: black;
          z-index: 99;
          left: 0;
          border: solid 1px;
          box-shadow: 0 0 10px 1px black;
          width: 100%;
        }
        #InnerVideo {
          position: absolute;
          bottom: 0;
          z-index: 2;
          right: 0;
          max-width: 25vw;
          max-height: 20vh;
          padding: 6px 0;
        }
        #OuterVideo {
          position: relative;
          z-index: 1;
          width: 100%;
          left: 0;
          border: solid 1px;
          box-shadow: 0 0 10px 1px black;
          height: 70vh;
          background-color: black;
        }
        .VideoMenu {
          position: absolute;
          z-index: 2;
          margin: 0 auto;
          background-color: rgba(0, 0, 0, 0.308);
          border: solid 1px;
          border-radius: 20px;
          bottom: 50px;
          left: 50%;
          transform: translate(-50%, 0);
          padding: 10px;
        }
      }
    }
    .Friends {
      border: 1px solid;
      margin: 0.5rem;
      border-radius: 10px;
      box-shadow: 0 0 5px black;
      background-color: rgb(2, 90, 141);
    }
  }
}
